allow init tmpfs:lnk_file create_file_perms;

allow init sysfs_power_management:file { write open };

# wlan firmware
allow init sysfs_wlan_fwpath:file { read open write getattr setattr open };

# mtp
allow init sysfs_g_android_param:dir search;
allow init sysfs_g_android_param:file rw_file_perms;

# usb
allow init sysfs_usb:file { setattr };

# bluetooth
allow init sysfs_bluetooth_writable:file { setattr };

# wifi
allow init sysfs_wifi_sar:file { setattr };

# lcd
allow init sysfs_lcd_mipi:file { setattr };

# battery
allow init sysfs_battery:file { setattr read };
allow init sysfs_battery:lnk_file rw_file_perms;

# sys tune
allow init sysfs_tune:file rw_file_perms;

# led_bg
allow init sysfs_qpnp_26:file setattr;
allow init sysfs_qpnp_26:lnk_file rw_file_perms;

# cpu
allow init sysfs_cpu:file setattr;
allow init sysfs_thermal:file setattr;

# ram dumps
allow init sysfs_ramdumps:file rw_file_perms;

# gpu
allow init sysfs_gpu_tuning:file setattr;

# enable edl
allow init sysfs_enable_edl:file rw_file_perms;

# todo fix missing labels
allow init sysfs:file { setattr getattr };

# read_ahead_kb
allow init sysfs_dm:file rw_file_perms;